body {
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#streamer {
    margin: 10px;
    padding: 0px;
}

#status {
    margin: 0px;
    padding: 0px;
}

#counts {
    margin: 0px;
    padding: 0px;
}

#usersnchat {
    margin: 0px 20px 0px 20px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#users {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 50%;
    height: auto;
}

#title {
    display: None;
    margin: 0px;
    padding: 0px;
    float: right;
    width: 50%;
    height: auto;
}

#chat {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 50%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

#chat div {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chat h3 {
    margin: 0.1px;
    padding: 0px;
    /*Diminuir o tamanho da fonte*/
    font-size: 15px;
    /*Botar um text shadow no texto*/
    text-shadow: 0px 0px 5px rgb(255, 255, 255, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
}

#chat h3 img {
    width: auto;
    height: 30px;
}

#users p {
    margin: 0.1px;
    padding: 0px;
}

#chat img {
    margin: 0px 2.5px 0px 2.5px;
    padding: 0px;
}

/* Index.html */
p {
    margin: 8px;
    padding: 0px;
}

.error {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff0000;
}

.container {
    display: block;
    height: 20px;
    margin: 5px 0px 5px 0px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hide the browser's default checkbox */
.container input {
    margin: 0px;
    padding: 0px;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

input[type=checkbox] {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin: 0px;
    padding: 0px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: black;
    border: 1px whitesmoke solid;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    opacity: 0.5;
}

/* When the checkbox is checked, modify the background */
/*
.container input:checked~.checkmark {
    background-color: #000000;
}
*/

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

input[type=text] {
    margin: 8px 0px 8px 0px;
    padding: 0px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    text-align: center;
}

input[type=text]#channel {
    width: 200px;
}

input[type=text]#multiChannels {
    width: 400px;
}

button {
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 50px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    text-align: center;
}

footer {
    margin: 50px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    text-shadow: 0px 0px 5px rgb(255, 255, 255, 0.35);
}